* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

.container {
    /* background-color: #d2dae2; */
    background-color: #0F0716;
    background: linear-gradient(90deg, #0F0716, #261541);
    padding: 10px 0px;
}

.HeaderMain,
.navbar,
.posts,
.featured {
    max-width: 1200px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    gap: 50px;
}

.personalHeading {
    color: white;
}

.rightNav ul {
    list-style: none;
    display: flex;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    gap: 30px;
}


.list {
    text-decoration: none;
}

.rightNav ul a li {
    color: #FFFFFF !important;
}

.HeaderMainForRespons {
    display: none;
}

.HeaderMain {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}

#name {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 60px;
    background: linear-gradient(90deg, #AA84F9, #d0ccd9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#intro {
    font-weight: 400;
    font-size: 16px;
    padding-top: 10px;
    line-height: 28px;
    color: #FFFFFF;
    justify-content: center;
}

#resume {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #8A54F7;
    background-color: #21243D;
    padding: 15px 26px;
    border-style: none;
    margin-top: 20px;
    border-radius: 50px;
    box-shadow: 0 10px 10px 0 rgba(244, 0, 0, 0.2);

}

.resume {
    text-decoration: none;
    color: #FFFFFF;


}

#resume:hover {
    background-color: #8750F7;
    transition: ease-in 0.6s;
    cursor: pointer;
}

.resumsocial {
    display: flex;
}

.socialIcon ul {
    justify-content: center;
    gap: 20px;
    list-style: none;
    display: flex;
    padding: 30px 0px 0px 25px;
}

.social {
    height: 33px;
    width: 33px;
}

#photo {
    width: 330px;
    height: 365px;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 10%;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 3%;
    margin-top: -20px;
    transition: transform 0.5s ease;
    transform: rotate(8deg) translate(-20%, 0%);
    cursor: pointer;
}

#photo:hover {
    transform: rotate(0deg) translate(-20%, 0%);

}

.projectexp {
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
}

.projects {
    display: flex;
    color: white;
    gap: 15px;
}

.projects h2 {
    font-size: 60px;
    font-weight: 800;
    line-height: 55px;
}





.recentPost {
    padding: 100px 0px;
    background: #0F0715;

}

.viewAll {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    color: white;
    padding: 30px 4px 10px 10px;
}

#view a {
    text-decoration: none;
    color: white;
}

.mainPost {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.leftPost {
    width: 380px;

    background: #150234;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    padding: 10px 10px;
    margin-top: 20px;
    margin-left: 15px;
    cursor: pointer;
}

.blogimg {
    width: 100%;
}

.heading {
    font-weight: 800;
    font-size: 25px;
    line-height: 35px;
    color: white;
}

.date {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #787ecd;
    padding-top: 10px;
}

.postdetail {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #a4a7bf;
    padding-top: 15px;
}

.FeaturedWork {
    background: #E5E5E5;
}

.work {
    text-align: center;
    padding: 50px 0px;
}

#FeatureHeading {
    font-weight: 800;
    font-size: 30px;
    line-height: 80px;
    color: #21243D;
}

.work p {
    color: #142850;
    padding-bottom: 30px;
}

.desingDashbord {
    display: flex;
    gap: 40px;
    border-bottom: 2px solid #E0E0E0;
}

.vibrant {
    margin-top: 30px;
}

.malyalam {
    margin-top: 30px;
}

#dashboards {
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
}

.year {
    display: flex;
    margin-top: 10px;

}

.yearsname {

    font-weight: 800;
    font-size: 15px;
    padding: 5px 10px;
    background: #142850;
    border-radius: 16px;
    color: #FFFFFF;

}

.yearsdetail {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
    padding-left: 30px;
}

.para1 {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}

.contactMees {
    background-color: #D6CCDF;
}

.insidecontact {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}


.contactleft {
    max-width: 50%;
    width: 100%;
    background-color: #140A20;
    padding: 0px 0px 60px 0px;
}

.contactright {
    max-width: 50%;
    width: 100%;
    background-color: #d6ccdf;
    padding: 200px 20px;
}

.phon1 {
    background-color: #100227;
    border: 2px solid green;
    border-radius: 5px;
    box-shadow: 0px 5px 20px rgba(131, 7, 145, 0.9);
    padding: 50px 20px;
    color: white;
    margin-bottom: 15px;
}

.UpperPart {
    margin-top: 60px;
    text-align: center;
    padding: 20px 20px;
}

.getintouch {
    font-weight: 600;
    font-size: 21.3333px;
    line-height: 150%;
    color: white;
    text-align: center;
}

.contactme {
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    color: white;
    text-align: center;
}

.contactmedetail,
.phnemail {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #a7a8c2;
    padding: 0px 30px;
    text-align: center;
}

.fname {
    display: flex;
    flex-direction: column;
}

.flname {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.FieldLabel {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: white;
    margin-top: 6px;
}

#mesage {
    padding: 16px;
    background: #FFFFFF;
    border: 1.33333px solid #5E3BEE;
    border-radius: 8px;
}

textarea {
    resize: none;
    border: 1.3px solid #5E3BEE;
}

.slecetoption {
    padding: 10px;
    height: 45px;
    width: 300px;
    background: #FFFFFF;
    border: 1.33333px solid #5E3BEE;
    border-radius: 8px;
    margin-top: 6px;
    background: #c9bebe;
}

.inputtype {
    background: #c9bebe;
    border: 1.33333px solid #5E3BEE;
    border-radius: 8px;
    align-items: center;
    padding: 10px;
    margin-top: 6px;
    width: 496px;

}

#message {
    width: 500px;
    height: 140px;
    border-radius: 10px;
    background: #c9bebe;
}

.accept {
    display: flex;
    gap: 10.67px;
    margin-top: 6px;
    color: white;
}

.submitbutton {
    padding: 10px 50px;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    background: #314a06;
    border-radius: 5px;
    display: flex;
    color: white;
    font-weight: 600;
}

.form {
    margin-top: 20px;
    padding: 2px 20px 2px 20px;
}

.footer {
    background: #FFFFFF;
    height: 200px;
}


.copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #21243D;
}


/* Blog page CSS */
#blogColorChange {
    color: #8695A4;
}

.rightNavs ul {
    list-style: none;
    display: flex;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
    gap: 30px;
}

.mainblog {
    margin-top: 120px;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
}

.blogHeading {
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
    margin-top: 35px;
}

.blogdate {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #21243D;
    padding-top: 10px;
}

.blogpostdetail {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    padding-top: 5px;
}

/* Media Queries for mobile screen responsiveness */


@media screen and (max-width:414px) and (min-width:290px) {

    .container {
        max-width: 375px;
        margin: 0px auto;
    }

    .navbar {
        display: none;

    }

    .HeaderMainForRespons {
        display: block;
        text-align: center;
        margin-left: 40px;
    }

    .HeaderMain {

        display: none
    }

    #name {
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        color: #21243D;
    }

    #intro {
        font-size: 14px;
        line-height: 20px;
        margin-top: 10px;
        text-align: justify;
    }

    #resume {
        margin-top: 30px;
    }

    #photo {
        width: 230px;
        height: 215px;
        border-radius: 60%;
    }

    #FeatureHeading {
        text-align: center;
    }

    .desingDashbord {
        display: flex;
        flex-direction: column;
    }

    .dashborimg {
        width: 100%;
        padding: 1px 15px 0px 15px;
    }

    #dashboards {
        font-size: 28px;
    }


    .footer {
        background: #FFFFFF;
        height: 200px;
    }



    .copyright {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #21243D;
    }

    .getintouch {
        line-height: 80%;
    }

    .contactme {
        font-weight: 600;
        font-size: 45px;
    }

    .contactmedetail {
        font-size: 20px;
    }


    .slecetoption {
        padding: 6px;
        height: 40px;
    }

    .inputtype {
        background: #FFFFFF;
        border: 1.33333px solid #5E3BEE;
        border-radius: 8px;
        align-items: center;
        padding: 10px;
        margin-top: 6px;
        width: 350px;

    }

    .submitbutton {
        margin-left: 120px;
    }

    .contactMees {
        padding: 0%;
        margin: 0%;
    }

    #message {
        width: 350px;
        height: 130px;
    }
}